<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.virtualmapper.VtResourceMapper">

	<resultMap type="VtResource" id="VtResourceResult">
		<id property="resourceId" column="resource_id" />
		<result property="resourceName" column="resource_name" />
		<result property="resourceType" column="resource_type" />
		<result property="majorName" column="major_name" />
		<result property="courseName" column="course_name" />
		<result property="coverUrl" column="cover_url" />
		<result property="fileUrl" column="file_url" />
		<result property="shareStatus" column="share_status" />
		<result property="viewCount" column="view_count" />
		<result property="collectCount" column="collect_count" />
		<result property="introduction" column="introduction" />
		<result property="createBy" column="create_by" />
		<result property="createTime" column="create_time" />
		<result property="updateBy" column="update_by" />
		<result property="updateTime" column="update_time" />
		<result property="remark" column="remark" />
	</resultMap>

	<sql id="selectVtResourceVo">
		select resource_id, resource_name, resource_type, major_name, course_name, cover_url, file_url, share_status, view_count, collect_count, introduction, create_by, create_time, update_by, update_time, remark from vt_resource
	</sql>

	<select id="selectVtResourceList" parameterType="VtResource" resultMap="VtResourceResult">
		<include refid="selectVtResourceVo"/>
		<where>
			<if test="resourceName != null and resourceName != ''"> and resource_name like concat('%', #{resourceName}, '%')</if>
			<if test="resourceType != null and resourceType != ''"> and resource_type like concat('%', #{resourceType}, '%')</if>
			<if test="majorName != null and majorName != ''"> and major_name like concat('%', #{majorName}, '%')</if>
			<if test="courseName != null and courseName != ''"> and course_name like concat('%', #{courseName}, '%')</if>
			<if test="viewCount != null"> and view_count = #{viewCount}</if>
			<if test="collectCount != null"> and collect_count = #{collectCount}</if>
		</where>
		order by create_time desc
	</select>

	<select id="selectVtResourceById" parameterType="Long" resultMap="VtResourceResult">
		<include refid="selectVtResourceVo"/>
		where resource_id = #{resourceId}
	</select>

	<insert id="insertVtResource" parameterType="VtResource" useGeneratedKeys="true" keyProperty="resourceId">
		insert into vt_resource
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="resourceId != null">resource_id,</if>
			<if test="resourceName != null and resourceName != ''">resource_name,</if>
			<if test="resourceType != null and resourceType != ''">resource_type,</if>
			<if test="majorName != null and majorName != ''">major_name,</if>
			<if test="courseName != null and courseName != ''">course_name,</if>
			<if test="coverUrl != null and coverUrl != ''">cover_url,</if>
			<if test="fileUrl != null and fileUrl != ''">file_url,</if>
			<if test="shareStatus != null and shareStatus != ''">share_status,</if>
			<if test="viewCount != null">view_count,</if>
			<if test="collectCount != null">collect_count,</if>
			<if test="introduction != null and introduction != ''">introduction,</if>
			<if test="createBy != null and createBy != ''">create_by,</if>
			<if test="remark != null and remark != ''">remark,</if>
			create_time
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="resourceId != null">#{resourceId},</if>
			<if test="resourceName != null and resourceName != ''">#{resourceName},</if>
			<if test="resourceType != null and resourceType != ''">#{resourceType},</if>
			<if test="majorName != null and majorName != ''">#{majorName},</if>
			<if test="courseName != null and courseName != ''">#{courseName},</if>
			<if test="coverUrl != null and coverUrl != ''">#{coverUrl},</if>
			<if test="fileUrl != null and fileUrl != ''">#{fileUrl},</if>
			<if test="shareStatus != null and shareStatus != ''">#{shareStatus},</if>
			<if test="viewCount != null">#{viewCount},</if>
			<if test="collectCount != null">#{collectCount},</if>
			<if test="introduction != null and introduction != ''">#{introduction},</if>
			<if test="createBy != null and createBy != ''">#{createBy},</if>
			<if test="remark != null and remark != ''">#{remark},</if>
			sysdate()
		</trim>
	</insert>

	<update id="updateVtResource" parameterType="VtResource">
		update vt_resource
		<set>
			<if test="resourceName != null and resourceName != ''">resource_name = #{resourceName},</if>
			<if test="resourceType != null and resourceType != ''">resource_type = #{resourceType},</if>
			<if test="majorName != null and majorName != ''">major_name = #{majorName},</if>
			<if test="courseName != null and courseName != ''">course_name = #{courseName},</if>
			<if test="coverUrl != null and coverUrl != ''">cover_url = #{coverUrl},</if>
			<if test="fileUrl != null and fileUrl != ''">file_url = #{fileUrl},</if>
			<if test="shareStatus != null and shareStatus != ''">share_status = #{shareStatus},</if>
			<if test="viewCount != null">view_count = #{viewCount},</if>
			<if test="collectCount != null">collect_count = #{collectCount},</if>
			<if test="introduction != null and introduction != ''">introduction = #{introduction},</if>
			<if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
			<if test="remark != null and remark != ''">remark = #{remark},</if>
			update_time = sysdate()
		</set>
		where resource_id = #{resourceId}
	</update>

	<delete id="deleteVtResourceById" parameterType="Long">
		delete from vt_resource where resource_id = #{resourceId}
	</delete>

	<delete id="deleteVtResourceByIds" parameterType="Long">
		delete from vt_resource where resource_id in
		<foreach collection="array" item="resourceId" open="(" separator="," close=")">
			#{resourceId}
		</foreach>
	</delete>
</mapper>
